@using site1.Service
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<!--viewBag-временное динамческое хранилище -->
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@Config.CompanyName</title>

}
<!--для описания и ключевых слов тоже самое -->
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Discription" />
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />

}
