@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeyWords;

}

<div>
    <h2>
        @Model.Title
    </h2>
    <h2>
        @Model.Subtitle
    </h2>
    <div>
        <img class="img-block" src="~/img/@Model.TitleImagePath"/>
    </div>
</div>
<div>
    @Html.Raw(Model.Text)
</div>